#########################################################################################################
##  #Lattice Diamond
#########################################################################################################

/**/*.dir/**
/**/impl*/**
/**/.recovery
/**/*.html
/**/promote.xml
/**/*.tpf*
/**/.floorplanner.ini
/**/*.dmp
/**/reportview.xml
/**/._Real_._Math_.vhd
/**/ip_express_cores/*/*
!/**/ip_express_cores/*/*.lpc
!/**/ip_express_cores/*/*.ipx
!/**/ip_express_cores/*/*.vhd
