#########################################################################################################
##  This is an example .gitignore file for Vivado, please treat it as an example as 
##  it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore
###########################################################################
##  VIVADO
###########################################################################

#ignore vivado created .runs and .cache whole directories
*.runs/
*.cache/
**/xsim.dir/

#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.vhdl
!*.v
#####when scripted ignore .xpr file
!*.xpr
!*.xdc
!*.tcl
#####when scripted do not ignore .bat (windows batch files) and .py (python source code)
!*.bat
!*.prj
!*.py

####### just to aid temperary debug between computers allow storing of waveform files
!*.wcfg

##### input test script which is being developed in conjunction with vivado_synth/spi_master.srcs/sources_1/imports/spi_master_tb.vhd ######
!/**/input_test_*.txt
#!/**/*_input_test.txt
!/**/input_test_example.txt
!/**/output_test_example.txt